.container {
  padding: 0 13%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card_container {
  display: grid;
  flex-wrap: wrap;
  width: 100%;
  grid-template-columns: auto auto auto;
  gap: 33px;
}

.icons {
  display: flex;
  justify-content: space-between;
}
.icon {
  display: flex;
  flex-direction: column;
}
.icon div {
  text-align: center;
}
.container {
  width: 100%;
}
.card {
  width: 381px;
  width: 31%;
  width: 100%;
}
.mini {
  padding: 21px;
  border: 1px solid lightgrey;
}
.adress {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}
.text {
  color: lightgray;
  margin: 5px 0 16px 0;
}
button {
  background-color: red;
  padding: 5px 17px;
  border: none;
  color: aliceblue;
  border-radius: 5px;
}
.price {
  display: flex;
  justify-content: space-between;
  padding: 21px;
  border: 1px solid lightgrey;
}
.image {
  display: flex;
}
.image img {
  width: 100%;
}
.button_search {
  display: flex;
  padding: 12px 40px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 2px;
  border: 1px solid #0061df;
  background: #0061df;
}
.input_search {
  /* max-width: 527px; */
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 11px;
  border-radius: 2px;
  border: 1px solid #e6e9ec;
}
.input_search input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
}
.search_feature {
  display: flex;
  margin: 25px 0 55px;
  gap: 31px;
  width: 100%;
  justify-content: space-between;
}
@media (min-width: 970px) {
  .search_feature {
    width: 70%;
  }
}
@media (max-width: 700px) {
  .search_feature {
    flex-direction: column;
  }
}

.Text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 105px;
  margin-bottom: 9%;
  width: 100%;
}

.Text h3 {
  color: #696969;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.Text p {
  color: #696969;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 1200px) {
  .card_container {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 790px) {
  .card_container {
    grid-template-columns: auto;
    padding: 0 15%;
  }
}
@media (max-width: 560px) {
  .card_container {
    padding: 0;
  }
}
