.header {
  background-color: #0d263b;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header ul {
  display: flex;
  list-style: none;
  gap: 65px;
}
@media (max-width: 791px) {
  .header ul {
    display: none;
  }
}
.header ul li {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.button_login {
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid #fff;
  display: inline-flex;
  padding: 12px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
