* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
body {
  margin: 0;
  width: 100%;
  font-family: "Azeret Mono", monospace;
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
}
.cena {
  display: flex;
  flex-direction: column;
}
